.footer {
    position: fixed;
  bottom: 0;
  left: 0;
    width: 100%;
  //   background: #263238;
  background: #231654;
  text-align: center;
  color: #f4f4f4;
  margin-top: 20px;
  padding: 10px;
  &:last-of-type{
    margin-top: auto;
  }
}

.icons {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons .footerIcon {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4;
}

.company-name {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  padding: 10px;
}

// @media (max-width: 500px) {
//   html {
//     font-size: 50%;
//   }
// }

// @media (min-width: 501px) and (max-width: 768px) {
//   html {
//     font-size: 50%;
//   }
// }
